[postgres]
HOST = "192.168.0.276"
USERNAME = "postgres"
PASSWORD = "postgress"
PORT = "5432"
DB_NAME = "newdb"

[bigquery]
PROJECT_ID = "carbon-zone-4633232623dsd-r5"
SERVICE_ACCOUNT_FILEPATH = "config/carbon-zone.json"