[postgres]
HOST = "192.168.0.276"
USERNAME = "postgres"
PASSWORD = "postgress"
PORT = "5432"
DB_NAME = "newdb"

[bigquery]
PROJECT_ID = "carbon-zone-46623dsd-r5"
SERVICE_ACCOUNT_FILEPATH = "config/carbon-zone-405-r5-baaa1a665c04.json"